body {
  background-color: black;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.stars-container {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.stars-container .star {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  opacity: 0.5;
}

.planets-container {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  animation: rotation 25s linear infinite;
}
.planets-container .sun {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 3px solid #ffeebb;
  background: linear-gradient(120deg, #fdffbc, #ffc1b6);
  position: relative;
  top: 33%;
  left: 33%;
  box-shadow: 0 0 40px 15px #f4a261;
}
.planets-container .mercury-container {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  animation: orbit 10s linear infinite;
  animation-duration: 1.252s;
  top: 50%;
  left: -25%;
}
.planets-container .mercury-container .mercury {
  height: 9.999px;
  width: 9.999px;
  position: absolute;
  transform: translateX(-50%) translateY(-60px);
  background: linear-gradient(120deg, #b5b5b5, #ffffff);
  box-shadow: 0 0 20px 5px #ffffff;
  border: 2px solid #707070;
  border-radius: 50%;
}
.planets-container .venus-container {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  animation: orbit 10s linear infinite;
  animation-duration: 1.714s;
  top: 50%;
  left: -25%;
}
.planets-container .venus-container .venus {
  height: 9.719px;
  width: 9.719px;
  position: absolute;
  transform: translateX(-50%) translateY(-100px);
  background: linear-gradient(120deg, #d1a46e, #f4c542);
  box-shadow: 0 0 20px 5px #f4c542;
  border: 2px solid #9d7c44;
  border-radius: 50%;
}
.planets-container .earth-container {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  animation: orbit 10s linear infinite;
  animation-duration: 2.513s;
  top: 50%;
  left: -25%;
}
.planets-container .earth-container .earth {
  height: 9.868px;
  width: 9.868px;
  position: absolute;
  transform: translateX(-50%) translateY(-150px);
  background: linear-gradient(120deg, #1e60a9, #2e91ee);
  box-shadow: 0 0 20px 5px #2e91ee;
  border: 2px solid #113f82;
  border-radius: 50%;
}
.planets-container .mars-container {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  animation: orbit 10s linear infinite;
  animation-duration: 2.889s;
  top: 50%;
  left: -25%;
}
.planets-container .mars-container .mars {
  height: 11.031px;
  width: 11.031px;
  position: absolute;
  transform: translateX(-50%) translateY(-200px);
  background: linear-gradient(120deg, #c35642, #ed6d5d);
  box-shadow: 0 0 20px 5px #ed6d5d;
  border: 2px solid #8f3b2d;
  border-radius: 50%;
}
.planets-container .jupiter-container {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  animation: orbit 10s linear infinite;
  animation-duration: 4.308s;
  top: 50%;
  left: -25%;
}
.planets-container .jupiter-container .jupiter {
  height: 20.973px;
  width: 20.973px;
  position: absolute;
  transform: translateX(-50%) translateY(-260px);
  background: linear-gradient(120deg, #ffcc88, #fcb55d);
  box-shadow: 0 0 20px 5px #fcb55d;
  border: 2px solid #e2a94c;
  border-radius: 50%;
}
.planets-container .saturn-container {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  animation: orbit 10s linear infinite;
  animation-duration: 5.801s;
  top: 50%;
  left: -25%;
}
.planets-container .saturn-container .saturn {
  height: 21.923px;
  width: 21.923px;
  position: absolute;
  transform: translateX(-50%) translateY(-320px);
  background: linear-gradient(120deg, #f3d29e, #eecf97);
  box-shadow: 0 0 20px 5px #eecf97;
  border: 2px solid #c3a35e;
  border-radius: 50%;
}
.planets-container .saturn-container .saturn .saturn-ring {
  width: 45px;
  height: 7px;
  border-radius: 50%;
  position: relative;
  top: 35%;
  right: 55%;
  background: linear-gradient(to bottom, #eecf97, #fdfbd8);
}
.planets-container .uranus-container {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  animation: orbit 10s linear infinite;
  animation-duration: 4.824s;
  top: 50%;
  left: -25%;
}
.planets-container .uranus-container .uranus {
  height: 23.443px;
  width: 23.443px;
  position: absolute;
  transform: translateX(-50%) translateY(-380px);
  background: linear-gradient(120deg, #a6c2c8, #86b3bc);
  box-shadow: 0 0 20px 5px #86b3bc;
  border: 2px solid #7c989e;
  border-radius: 50%;
}
.planets-container .neptune-container {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  animation: orbit 10s linear infinite;
  animation-duration: 7.06s;
  top: 50%;
  left: -25%;
}
.planets-container .neptune-container .neptune {
  height: 19.438px;
  width: 19.438px;
  position: absolute;
  transform: translateX(-50%) translateY(-440px);
  background: linear-gradient(120deg, #4d7eb1, #648fb7);
  box-shadow: 0 0 20px 5px #648fb7;
  border: 2px solid #2e4f80;
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes orbit {
  0% {
    transform: translate(-50%, -50%) translateX(150px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) translateX(150px) rotate(360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
