body {
  background-color: black;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@mixin container($animation-duration) {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  animation: orbit 10s linear infinite;
  animation-duration: $animation-duration;
  top: 50%;
  left: -25%;
}

@mixin element(
  $height,
  $width,
  $translateY,
  $gradient-color-1,
  $gradient-color-2,
  $border-color
) {
  height: $height;
  width: $width;
  position: absolute;
  transform: translateX(-50%) translateY($translateY);
  background: linear-gradient(120deg, $gradient-color-1, $gradient-color-2);
  box-shadow: 0 0 20px 5px $gradient-color-2;
  border: $border-color;
  border-radius: 50%;
}

.stars-container {
  width: 100%;
  height: 100%;
  z-index: -1;
  .star {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    opacity: 0.5;
  }
}

.planets-container {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  animation: rotation 25s linear infinite;
  .sun {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid #ffeebb;
    background: linear-gradient(120deg, #fdffbc, #ffc1b6);
    position: relative;
    top: 33%;
    left: 33%;
    box-shadow: 0 0 40px 15px #f4a261;
  }

  .mercury-container {
    @include container(1.252s);
    .mercury {
      @include element(
        9.999px,
        9.999px,
        -60px,
        #b5b5b5,
        #ffffff,
        2px solid #707070
      );
    }
  }

  .venus-container {
    @include container(1.714s);
    .venus {
      @include element(
        9.719px,
        9.719px,
        -100px,
        #d1a46e,
        #f4c542,
        2px solid #9d7c44
      );
    }
  }

  .earth-container {
    @include container(2.513s);
    .earth {
      @include element(
        9.868px,
        9.868px,
        -150px,
        #1e60a9,
        #2e91ee,
        2px solid #113f82
      );
    }
  }

  .mars-container {
    @include container(2.889s);
    .mars {
      @include element(
        11.031px,
        11.031px,
        -200px,
        #c35642,
        #ed6d5d,
        2px solid #8f3b2d
      );
    }
  }

  .jupiter-container {
    @include container(4.308s);
    .jupiter {
      @include element(
        20.973px,
        20.973px,
        -260px,
        #ffcc88,
        #fcb55d,
        2px solid #e2a94c
      );
    }
  }

  .saturn-container {
    @include container(5.801s);
    .saturn {
      @include element(
        21.923px,
        21.923px,
        -320px,
        #f3d29e,
        #eecf97,
        2px solid #c3a35e
      );

      .saturn-ring {
        width: 45px;
        height: 7px;
        border-radius: 50%;
        position: relative;
        top: 35%;
        right: 55%;
        background: linear-gradient(to bottom, #eecf97, #fdfbd8);
      }
    }
  }

  .uranus-container {
    @include container(4.824s);
    .uranus {
      @include element(
        23.443px,
        23.443px,
        -380px,
        #a6c2c8,
        #86b3bc,
        2px solid #7c989e
      );
    }
  }

  .neptune-container {
    @include container(7.06s);
    .neptune {
      @include element(
        19.438px,
        19.438px,
        -440px,
        #4d7eb1,
        #648fb7,
        2px solid #2e4f80
      );
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes orbit {
  0% {
    transform: translate(-50%, -50%) translateX(150px) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) translateX(150px) rotate(360deg);
  }
}
